.dk.alarm .alarm-list li {
    padding: 24px 20px;
    display: flex;
    gap: 12px;
}
.dk.alarm .alarm-list li.active {
    background: #fff1e9;
}
.dk.alarm .alarm-list li .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dk.alarm .alarm-list li .content h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dk.alarm .alarm-list li .content h4 strong {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
}

.dk.alarm .alarm-list li .content h4 span {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #bdbdbd;
}

.dk.alarm .alarm-list li .content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #969696;
}
