.dk.authentication-phone {
}
.dk.authentication-phone h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #969696;
    margin: 0 0 8px 0;
    display: flex;
    justify-content: space-between;
}
.dk.authentication-phone h5 strong {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--gray-8, #404040);
}
.dk.authentication-phone h5 > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--apple-6, #e02431);
}
.dk.authentication-phone .inputs {
    display: flex;
    gap: 8px;
    margin: 0 0 30px 0;
}
.dk.authentication-phone .inputs .ant-input-affix-wrapper {
    padding: 0 11px;
}
.dk.authentication-phone .inputs .ant-input-affix-wrapper .ant-input-prefix {
    font-size: 16px;
}
.dk.authentication-phone .inputs .ant-input-affix-wrapper .ant-input-prefix > span {
    display: flex;
    align-items: center;
}
