@import url("./chat.css");
@import url("./point.css");
@import url("./alarm.css");
@import url("./header.css");
@import url("./dropList.css");
@import url("./random.css");
@import url("./profile.css");
@import url("./auth.css");

.dk.error {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dk.error .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.dk.error .bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
.dk.error .bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
