\.dk.point {
    padding: 0 0 0 0;
}

.dk.point .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 20px 5px;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dk.point .title > * {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}
.dk.point .title > *:last-child {
    justify-content: flex-end;
    padding: 0 20px 0 0;
}
.dk.point .title > h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
    justify-content: center;
    text-transform: capitalize;
}

.dk.point .title > *:first-child .dds.button.none {
    padding: 0;
    min-width: 40px;
    box-shadow: none;
}

.dk.point .title > *:last-child .dds.button.none {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #969696;
    box-shadow: none;
    text-transform: capitalize;
}

.dk.point .title > *:last-child .dds.button.none svg {
    width: 14px;
    height: 14px;
}
.dk.point .title > *:last-child .dds.button.none svg path {
    fill: #969696;
}
.dk.point .my-point {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 12px solid #f5f5f5;
    padding: 34px;
}
.dk.point .my-point p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #969696;
}
.dk.point .my-point h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #1f1f1f;
    display: flex;
    gap: 3px;
    align-items: flex-end;
}
.dk.point .my-point h3 small {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
}
.dk.point .my-point .connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    margin: 24px 0 0 0;
}
.dk.point .my-point .connect p {
    position: relative;
    padding: 0 0 0 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #969696;
}
.dk.point .my-point .connect p::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #969696;
    width: 2px;
    height: 2px;
}

/* .dk.point .pointTabs .adm-tabs-header {
    position: sticky;
    top: 50px;
    background-color: #fff;
} */

.dk.point .point-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    padding: 0 20px;
}
.dk.point .point-list li > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.dk.point .point-list li > div:first-child {
    max-width: calc(100% - 80px);
}
.dk.point .point-list li > div:first-child strong {
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.dk.point .point-list li > div:first-child span {
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.dk.point .point-list li > div:last-child {
    min-width: 80px;
}
.dk.point .point-list li > div:last-child {
    align-items: flex-end;
}
.dk.point .point-list li > div:last-child strong {
    font-weight: 700;
    font-size: 16px;
    color: #969696;
}
.dk.point .point-list li > div:last-child span {
    font-weight: 400;
    font-size: 12px;
    color: #bdbdbd;
}
.dk.point .point-list li > div:last-child strong.plus {
    color: #fd6e24;
}
.dk.point .point-information {
    padding: 20px;
}
.dk.point .point-information h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #1f1f1f;
    margin: 0 0 32px 0;
}
.dk.point .point-information > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 32px 0;
}
.dk.point .point-information > ul li {
    display: flex;
    background: #f5f5f5;
    border-radius: 8px;
    align-items: center;
    padding: 18px;
    gap: 10px;
}
.dk.point .point-information > ul li .desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
}
.dk.point .point-information > ul li > strong {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fd6e24;
}
.dk.point .point-information > ul li dl {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.dk.point .point-information > ul li dl dd {
    padding: 0 0 0 6px;
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: #969696;
}
.dk.point .point-information > ul li dl dd::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #969696;
    width: 2px;
    height: 2px;
}

.dk.point .point-information > ol {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 32px 0;
}
.dk.point .point-information > ol li h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
    display: flex;
    gap: 8px;
}
.dk.point .point-information > ol li h4 strong {
    color: #fd6e24;
}
.dk.point .point-information > ol li dl {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.dk.point .point-information > ol li dl dd {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #404040;
    padding: 0 0 0 16px;
    margin: 0;
    position: relative;
}
.dk.point .point-information > ol li dl dd::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #404040;
    width: 2px;
    height: 2px;
}

.dk.point .point-information .dds.button.primary {
    height: auto;
    padding: 10px 12px;
}

.dk.point .point-information .dds.button.primary span {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.28px;
}

.dk.point .point-list.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 324px);
    padding: 0;
}
.dk.point .point-list.empty li {
    background: none;
    color: #969696;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
}

.pointTabs .sort {
    padding: 12px 20px;
    display: flex;
    justify-content: flex-end;
}

.pointTabs .sort .ant-btn {
    border: 0;
    display: flex;
    align-items: center;
    box-shadow: none;
    padding: 0;
    gap: 4px;
}

.pointTabs .sort .ant-btn svg {
    width: 12px;
    height: 12px;
}

.pointTabs .sort .dds.icons {
    width: auto;
}

.dk.point .adm-tabs-header {
    position: sticky;
    top: 50px;
    background: #fff;
    z-index: 1;
}
