.dds.chips {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 8px;
    height: 24px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
}

.dds.chips.primary {
    background: #1f1f1f;
    color: #fff;
}

.dds.chips.secondary {
    background: #e6e6e6;
    color: #969696;
}

.dds.chips.third {
    padding: 2px 4px;
    height: 12px;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: -0.02em;
    background: #fd6e24;
    color: #ffffff;
    margin-left: 4px;
}
