.ant-message {
    top: unset !important;
    bottom: 0;
}

:where(.ant-message-top).ant-message .ant-message-notice .ant-message-notice-content {
    text-align: left;
    width: calc(100% - 24px);
    padding: 16px;
    background: rgba(41, 41, 41, 0.9);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.orgMessage {
    margin-bottom: 0;
}

.orgMessage .ant-message-custom-content {
    display: flex;
    align-items: center;
}

.orgMessage .ant-message-custom-content .dds.icons {
    margin-right: 8px;
}

.orgMessage .ant-message-custom-content .dds.icons path {
    fill: #fd6e24;
}
