.dds.modal.bottom {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    max-width: 100%;
    padding: 0;
}
.dds.modal.bottom .ant-modal-content {
    border-radius: 16px 16px 0px 0px;
    padding: 32px 20px 20px;
}

.dds.modal.bottom .imgWrapper {
    width: 120px;
    height: 120px;
    margin: 20px auto 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dds.modal.bottom .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #1f1f1f;
    margin-bottom: 12px;
    white-space: pre-line;
}

.dds.modal.bottom .context {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #1f1f1f;
    white-space: pre-line;
    margin-bottom: 6px;
}

.dds.modal.bottom .subContext {
    color: #969696;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    margin-bottom: 36px;
}

.dds.modal.bottom .dds.button {
    width: 100%;
    justify-content: center;
    margin: 0;
}

.dds.modal.bottom .dds.button.large {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
}

.dds.modal.center {
    position: absolute;
    top: 0;
    left: 0;
    max-width: calc(100%);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--viewHeight);
}
.dds.modal.center .ant-modal-content {
    border-radius: 16px;
    padding: 32px 20px 20px;
    width: calc(100% - 40px);
}

.dds.modal.center .imgWrapper {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dds.modal.center .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #1f1f1f;
    margin-bottom: 12px;
    white-space: pre-line;
}

.dds.modal.center .context {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    white-space: pre-line;
    color: #969696;
}

.dds.modal.center .dds.button {
    width: 100%;
    justify-content: center;
    margin: 0;
}

.dds.modal.center .dds.button.large {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
}

.dds.modal.center .ant-modal-footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.dds.modal.image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: calc(100%);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--viewHeight);
}
.dds.modal.image .ant-modal-content {
    border-radius: 16px;
    padding: 32px 20px 20px;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
}

.dds.modal.image .imgWrapper {
    width: 100%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dds.modal.image .ant-modal-close {
    position: absolute;
    top: 0;
    inset-inline-end: 17px;
    z-index: 1010;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

.dds.modal.image .ant-modal-close svg {
    fill: #fff;
    width: 24px;
    height: 24px;
}
