.dds.profile {
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dds.profile .adm-avatar {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    overflow: hidden;
}
.dds.profile .cert {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    transform: translateX(25%);
    transform-origin: none;
}
.dds.profile + .dds.icons svg {
    width: 18px;
    height: 18px;
}
