.dds.tabs .adm-tabs-header {
    padding: 0 20px;
}

.dds.tabs .adm-tabs-tab-list {
    gap: 16px;
}

.dds.tabs .adm-tabs-tab-wrapper {
    padding: 0;
    flex: 1;
}

.dds.tabs .adm-tabs-header .adm-tabs-tab-list {
    height: 48px;
}
.dds.tabs .adm-tabs-tab {
    font-weight: 400;
    font-size: 16px;
    color: #bdbdbd;
}

.dds.tabs .adm-tabs-tab-active {
    font-weight: 400;
    font-size: 16px;
    color: #1f1f1f;
}
.dds.tabs .adm-tabs-content {
    padding: 0;
}

.dds.tabs .adm-tabs-tab-line {
    background-color: #1f1f1f;
}

.dds.tabs.tabsPart {
    flex: 1;
}

.dds.tabs.tabsPart .adm-tabs-tab-list {
    gap: 0;
}

.dds.tabs .adm-tabs-tab-wrapper {
    padding: 0;
}

.dds.tabs.tabsPart .adm-tabs-header .adm-tabs-tab {
    width: 100%;
    text-align: center;
}
