.dds.tabs {
    overflow-x: auto;
}
.dds.tabs .ant-tabs-nav::before {
    border-bottom: 1px solid #e6e6e6;
}
.dds.tabs .ant-tabs-nav .ant-tabs-nav-wrap::before,
.dds.tabs .ant-tabs-nav .ant-tabs-nav-wrap::after {
    display: none;
}
