.detailWrapper {
    transition: all 0.5s ease-in-out;
}

.detailWrapper.more {
    background-color: rgba(255, 255, 255, 0.5);
}

.detail {
    /* position: fixed;
    width: 100vw;
    bottom: -100vh;
    left: 0; */
    /* height: 100vh; */
    transition: all 0.5s ease-in-out;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* opacity: 0; */
}

.detail.more {
    opacity: 1;
}

.detail .dropNo {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.02em;
    padding: 12px 0;
}

.detail .wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
}

.detail .wrapper > div {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 72px;
}

.detail .hold {
    background-color: #fd6e24;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.02em;
    text-align: left;
    border-radius: 4px;
    padding: 6px 8px;
}

.detail .artist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.detail .artist .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.02em;
}

.detail .artName {
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.detail .owner {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    border: 1px solid #969696;
    border-radius: 4px;
    color: #969696;
    padding: 4px;
}

.detail .owner .count {
    font-weight: 700;
}

.detail .more {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fd6e24;
    display: flex;
    align-items: center;
}

.detail .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    transition: 0.3s ease-in-out;
    overflow: auto;
}

.detail .info {
    width: calc(100% - 40px);
}

.detail .wrapper .iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 20px;
    bottom: 65px;
}

.detail .wrapper .iconWrapper.more {
    display: none;
}

.detail .wrapper .iconWrapper li > .dds.icons {
    width: 32px;
    height: 32px;
}

.detail .wrapper .iconWrapper .profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.detail .wrapper .iconWrapper .profileWrapper .dds.icons {
    position: absolute;
    bottom: -5px;
    width: 15px;
    height: 15px;
}

.detail .wrapper .iconWrapper .profile .ant-avatar {
    width: 40px;
    height: 40px;
}

.detail .wrapper .iconWrapper .likeWrapper,
.detail .wrapper .iconWrapper .ownerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail .wrapper .iconWrapper .likeWrapper .dds.icons,
.detail .wrapper .iconWrapper .ownerWrapper .dds.icons {
    margin-bottom: 2px;
}

.detail .dds.button.ar {
    width: 100%;
    justify-content: center;
    margin-top: 36px;
}
