/* ------------------------------------------------------------------------ login 메인 */
.login.wrap {
    margin: 50px 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 82px);
}
.login.wrap .inner {
    padding: 0 20px 9vh;
}
.login.wrap .inner h1 {
    max-width: 200px;
    display: flex;
    width: 50vw;
}
.login.wrap .inner h1 svg {
    width: 100%;
}
.login.wrap .inner > p {
    padding: 24px 0 120px;
    line-height: 150%;
}

.login.wrap .inner > p > span {
    color: var(--color-orange);
}
.login-sns li {
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    height: 48px;
    border-radius: 8px;
    position: relative;
}
.login-sns li > span:has(svg) {
    width: 20px !important;
    height: 20px !important;
}
.login-sns li svg {
    width: 20px;
    height: 20px;
}
.login-sns li.google {
    border: 1px solid #dadada;
}
.login-sns li.apple {
    background-color: #000;
    color: #fff;
}
.login-sns li.apple path,
.login-sns li.naver path {
    fill: #fff;
}

.login-sns li.naver {
    background-color: #1ec800;
    color: #fff;
}
.login-sns li.kakao {
    background-color: #feeb00;
}
.login-sns li:last-child {
    margin-bottom: 0;
}
.login-sns li .recent {
    position: absolute;
    right: 8px;
    background-color: #f5f5f5;
    border-radius: 4px;
    min-width: 61px;
    
    height: 20px;
    font-size: 10px;
    color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login.wrap .inner > .help {
    margin-top: 32px;
    position: relative;
    text-align: center;
}
.login.wrap .inner > .help > div {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 0 12px;
    font-size: 14px;
}
.login.wrap .inner > .help p {
    color: #969696;
}
.login.wrap .inner > .help strong {
    color: var(--color-orange);
}
.login.wrap .inner > .help .tooltip {
    position: relative;
    left: 50%;
    transform: translate(33%, 18%);
    width: 93px;
    height: 29px;
    background-size: contain;
    background-image: url("https://asset.dropkitchen.xyz/contents/202306_dev/20230601133330803_dk.webp");
    font-size: 11px;
    color: #fff;
    display: flex;
    line-height: 2;
    justify-content: center;
    align-items: flex-end;
}
.login.wrap .language-select {
    padding-bottom: 48px;
}
.login.wrap .language-select > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 4px;
    font-size: 14px;
}
.login.wrap .language-select > h3 > span:first-child {
    display: flex;
    width: 14px;
    height: 14px;
}
.login.wrap .language-select > h3 > span:last-child {
    display: flex;
    width: 12px;
    height: 12px;
}

.login.drawer.ant-drawer-content {
    border-radius: 16px 16px 0 0;
}
.login.drawer.ant-drawer-content .ant-drawer-header {
    border-bottom: none;
    padding: 30px 16px 18px;
    font-size: 20px;
}
.login.drawer.signup.ant-drawer-content .ant-drawer-header {
    padding-bottom: 28px;
}
.login.drawer.ant-drawer-content .ant-drawer-header .ant-drawer-header-title {
    flex-direction: row-reverse;
}
.login.drawer.ant-drawer-content .ant-drawer-header .ant-drawer-header-title .ant-drawer-close {
    margin: 0;
    padding: 0;
}
.login.drawer.ant-drawer-content .ant-drawer-header .ant-drawer-header-title .ant-drawer-title {
    font-size: 20px;
    line-height: 1;
}
.login.drawer.ant-drawer-content .ant-drawer-body {
    padding: 0 20px 44px;
}
.login.drawer.ant-drawer-content .ant-drawer-body > div {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
