.page-setting.main {
    min-height: 100vh;
    background-color: #f5f5f5;
}
.page-setting.main dl {
    padding: 0;
    margin: 0;
    border-bottom: 12px solid #f5f5f5;
    background-color: #fff;
}
.page-setting.main dl dt {
    padding: 20px 20px 6px 20px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #af6262;
}
.page-setting.main dl dd {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.page-setting.main dl dd:active {
    background-color: #f5f5f5;
}
.page-setting.main dl dd > h4 {
    font-weight: 700;
    font-size: 16px;
}
.page-setting.main dl dd > span {
    display: flex;
    align-items: center;
    gap: 8px;
}
.page-setting.main dl dd > span strong {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #bdbdbd;
}
.page-setting.main dl dd > span .icons {
    width: 16px;
    height: 16px;
}

.page-setting.main dl dd > span .icons svg path {
    fill: #969696;
}

.page-setting.main dl dd .profile {
    display: flex;
    align-items: center;
    gap: 12px;
}
.page-setting.main dl dd .profile .name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.page-setting.main dl dd .profile .name h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
}
.page-setting.main dl dd .profile .name p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #969696;
}
