.page-setting.main {
    min-height: calc(100vh - 50px);
    background-color: #f5f5f5;
}
.page-setting dl {
    padding: 0;
    margin: 0;
    border-bottom: 12px solid #f5f5f5;
    background-color: #fff;
}
.page-setting dl.none {
    border: 0;
}
.page-setting dl dt {
    padding: 20px 20px 6px 20px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #969696;
}
.page-setting dl dd {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.page-setting dl dd:active {
    background-color: #f5f5f5;
}
.page-setting dl dd.none:active {
    background-color: transparent;
}
.page-setting dl dd > h4 {
    font-weight: 700;
    font-size: 16px;
}
.page-setting dl dd > span {
    display: flex;
    align-items: center;
    gap: 8px;
}
.page-setting dl dd > span strong {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #bdbdbd;
}
.page-setting dl dd > span .icons {
    width: 16px;
    height: 16px;
}

.page-setting dl dd > span .icons svg path {
    fill: #969696;
}
.page-setting dl dd > span .icons.checked svg path {
    fill: #fd6e24;
}

.page-setting dl dd .profile {
    display: flex;
    align-items: center;
    gap: 12px;
}
.page-setting dl dd .profile .name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.page-setting dl dd .profile .name h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 240px;
}
.page-setting dl dd .profile .name p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #969696;
}
.page-setting.sub .account {
    padding: 12px 20px 0 20px;
}
.page-setting.sub .account h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #1f1f1f;
    margin: 20px 0 32px 0;
}
.page-setting.sub .account > .profile {
    padding: 20px 20px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 19px;
}
.page-setting.sub .account > .profile > .dds.button {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fd6e24;
    height: auto;
    box-shadow: none;
}

.page-setting.sub .account > .profile .inner {
    width: 80px;
    height: 80px;
    position: relative;
}
.page-setting.sub .account > .profile .inner .dds.profile .ant-avatar {
    width: 80px;
    height: 80px;
}
.page-setting.sub .account > .profile .inner .camera {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #f5f5f5;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid #fff;
    box-sizing: content-box;
    overflow: hidden;
}
.page-setting.sub .account > .profile .inner input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.page-setting.sub .account > .profile .inner .camera .icons {
    width: 14px;
    height: 14px;
}
.page-setting.sub .account > .form {
    display: flex;
    gap: 32px;
    flex-direction: column;
    width: 100%;
}
.page-setting.sub .account > .form li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.page-setting.sub .account > .form li h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-setting.sub .account > .form li h4 strong {
    font-weight: 400;
    font-size: 16px;
    color: #1f1f1f;
}
.page-setting.sub .account > .form li h4 .kakao {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background: #feeb00;
}
.page-setting.sub .account > .form li h4 .kakao .icons {
    width: 12px;
    height: 12px;
}
.page-setting.sub .account > .form li h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #969696;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-setting.sub .account > .form li h5 strong {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #969696;
}
.page-setting.sub .account > .form li h5 span {
    color: #969696;
}
.page-setting.sub .account > .form li:has(input:focus) h5 strong {
    color: #404040;
}

.page-setting.sub .account > .form li p {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #e02431;
}
.page-setting.sub .account > .form li textarea.ant-input {
    height: 120px;
    padding: 16px 12px;
}
.page-setting.sub .account > .form li .phone {
    display: flex;
    gap: 8px;
}
.page-setting.sub .account > .form li .phone .input {
    width: 100%;
}
.page-setting.sub .account > .form li .phone .input .button {
    display: flex;
    gap: 8px;
    padding: 0;
}
.page-setting.sub .account > .form li .phone > .button {
    padding: 0 16px;
}
.page-setting.sub .account > .delete {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--gray-6, #969696);
    /* Regular/Line-height 1/Typography7 */
    font-size: 14px;
    letter-spacing: -0.28px;
    padding: 23px 20px;
    display: flex;
    justify-content: space-between;
}
.page-setting.sub .confirm {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.page-setting.sub .confirm .button {
    border-radius: 8px;
}
.page-setting.sub .save.focus {
    padding: 0;
}
.page-setting.sub .save.focus .dds.button {
    border-radius: 0;
}
.page-setting.sub .save {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
.page-setting .alarm-info {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.page-setting .alarm-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #969696;
}

.page-setting.sub .account-delete {
    padding: 20px 20px 0 20px;
}
.page-setting.sub .account-delete > h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.66px;
    margin: 0 0 32px 0;
}
.page-setting.sub .account-delete ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin: 0 0 32px 0;
}
.page-setting.sub .account-delete ul li {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    border-radius: 8px;
    background: var(--gray-1, #f5f5f5);
}
.page-setting.sub .account-delete ul li div {
    display: flex;
    align-items: center;
    gap: 6px;
}
.page-setting.sub .account-delete ol {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin: 0 0 32px 0;
}
.page-setting.sub .account-delete ol li {
    color: var(--gray-8, #404040);
    /* Regular/Typography6 */
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.32px;
    padding: 0 0 0 10px;
    position: relative;
}
.page-setting.sub .account-delete ol li::before {
    content: "";
    position: absolute;
    background-color: var(--gray-8, #404040);
    width: 4px;
    height: 4px;
    top: 0.5em;
    left: 0;
    border-radius: 4px;
}

.page-setting.sub .account-delete .complete {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-setting.sub .account-delete .complete .image {
    margin: 0 0 80px 0;
}
.page-setting.sub .account-delete .complete h4 {
    color: var(--gray-9, #1f1f1f);
    text-align: center;
    font-size: 22px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.66px;
    margin: 0 0 8px 0;
}
.page-setting.sub .account-delete .complete p {
    color: var(--gray-9, #1f1f1f);
    text-align: center;

    /* Regular/Typography6 */
    font-size: 16px;
    font-family: Pretendard;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.page-setting.main .company {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    justify-content: space-between;
}

.page-setting.main .company h2 {
    color: #969696;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;
}

.page-setting.main .company .dds.icons {
    width: 16px;
    height: 16px;
}

.page-setting.main .company .dds.icons path {
    fill: #bdbdbd;
}

.page-setting.main .info {
    padding: 0 20px;
    color: #969696;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
}

.page-setting.main .info span {
    text-decoration: underline;
    margin-left: 5px;
}

.page-setting.sub .account > .form li .red h5 strong,
.page-setting.sub .account > .form li .red h5 span,
.page-setting.sub .account > .form li:has(input:focus) .red h5 strong,
.page-setting.sub .account > .form li:has(input:focus) .red h5 span {
    color: var(--color-red, #e02431);
}

.page-setting.sub .account > .form li .red .dds.input.primary {
    border-color: var(--color-red, #e02431);
}
