/* ------------------------------------------------------------------------ 전역 css 설정*/
:root {
    --color-black: #1f1f1f;
    --color-orange: #fd6e24;
    --color-gray: #bdbdbd;
    --color-red: #e02431;
}
/* ------------------------------------------------------------------------ 전역 css 설정 */
