/* ------------------------------------------------------------------------ 전역 css 설정*/
:root {
    --color-black: #1f1f1f;
    --color-orange: #fd6e24;
    --color-gray: #bdbdbd;
    --color-red: #e02431;
    --color-green: #149946;
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

/* ------------------------------------------------------------------------ 전역 css 설정 */
